body{
    font-size: 16pt;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background: rgb(11,49,13);
    background: radial-gradient(circle, #301b3f 20%, #000 69%); 
    color: white;
    height: 100vh;
}

h1{
	font-size: 50pt;
	text-align: center;
	color: white;
}

table{
    padding: 20px;
    width: 100%;
	text-align: center;
    border-spacing: 15px;
    /*border: 2px solid white;*/
}

td{
    padding: 10px;
    border: 1px solid white;
    background-color: #301b3f; 
    border-radius: 30px;
    box-shadow: 2px 2px;
}
td:hover{
    background-color: #230d33;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bolder;
}




